<% provide(:title, "Inbox") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'messages/message_form' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'one_message', :collection => @message %>
  </div>
</div>