<% provide(:title, "Inbox") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'messages/message_form' %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.messages.any? %>
        <h3>Messages (<%= @user.messages.count %>)</h3>
        <ol class="microposts">
          <%= render @messages %>
        </ol>
        <%= will_paginate @messages %>
    <% end %>
  </div>
</div>